.assets
.env
*.pyc
dist/
build/
docs/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
scripts/test-api.sh
scripts/test-coincoin-python.py
scripts/test-coincoin.js
scripts/test-coincoin-tools.js
.DS_Store
